[Unit]
Description=UART zu Art-Net Konverter Dienst
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/DMX-to-Art-Net
ExecStart=/usr/bin/python3 /home/pi/DMX-to-Art-Net/uart2artnet.py
Restart=always

[Install]
WantedBy=multi-user.target

